
body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



.logo {
    width: 50px;
    height: auto;
   
}

a {
    text-decoration: none;
    color: rgb(206, 218, 228);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    font-size: 30px;
    color: rgb(169, 184, 196);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.header {
    background-color: rgb(72, 87, 100);
display: flex;
    justify-content: space-between;
    height: 70px;
    
   
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6px;
    gap: 4px;
}

.right {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 6px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(138, 170, 197);
    font-size: 20px;   
    height: 450px;
    line-height: 100%;
    margin-top: 35px;

}

.advert {
    background-color:rgb(85, 107, 126) ;
    height: 430px;
    
    display: flex;
   justify-content: center;
   align-items: center;
   }
.advertpic {
    width: auto;
    height: 300px;
    margin-left: 10px;
    border: 1px solid #eee;
  box-shadow: 4px 8px 22px rgba(0,0,0,.06);
  border-radius: 4px;
}

h1 {
    color:rgb(138, 170, 197);
    
}

button {
    background-color: rgb(255, 245, 232);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    color: rgb(80, 73, 73);
}

.tour {
    height: 200px;
    width: auto;
    border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  

}
.dates {
    color: rgb(53, 175, 175);
    margin-top: -8%;
    
}
.title {
   margin-left: 10px;
}
.container {
    background-color: rgb(49, 83, 112) ;
    height: 500px;
    display: flex;
 
}
.tour, .desc {
    display: flex;
    align-self: center;
    margin-bottom: 100px;
  
}
.desc {
  color: rgb(151, 166, 180);
  margin-left: -15px;
  margin-right: 35px;
    
}

.tour {
    margin-left: -30px;
    margin-right: 20px;
}