
body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.logo {
    width: 50px;
    height: auto;
   
}

a {
    text-decoration: none;
    color: rgb(206, 218, 228);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h3 {
    font-size: 30px;
    color: rgb(169, 184, 196);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.header {
    background-color: rgb(72, 87, 100);
display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 20px 20px 40px rgb(0, 0, 0);
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6px;
    gap: 4px;
}

.right {
   list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(138, 170, 197);
    font-size: 20px;   
    height: 450px;
    line-height: 100%;
    margin-top: 35px;

}

.advert {
    background-color:rgb(85, 107, 126) ;
    height: 450px;
    box-shadow: 20px 20px 40px rgb(0, 0, 0);
    display: flex;
   justify-content: center;
   align-items: center;
   }
.advertpic {
    width: auto;
    height: 300px;
    margin-left: 10px;
    border: 1px solid #eee;
  box-shadow: 4px 8px 22px rgba(0,0,0,.06);
  border-radius: 4px;
}


h1 {
    color:rgb(138, 170, 197);
    
}

button {
    border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: rgb(231, 220, 220);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
   
}


.tour {
    height: 200px;
    width: auto;
    border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 6px;
  margin-left: -30px;
  margin-right: 20px;

}
.dates {
    color: rgb(53, 175, 175);
    margin-top: -8%;
    
}
.title {
   margin-left: 10px;
   margin-top: -1%;
   flex-shrink: 0;
}
.container {
    background-color: rgb(49, 83, 112) ;
    height: 420px;
    box-shadow: 20px 20px 40px rgb(0, 0, 0);
    display: flex;
 
}
.tour, .desc {
    display: flex;
    align-self: center;
    
    
  
}
.desc {
  color: rgb(151, 166, 180);
  margin-left: -15px;
  margin-right: 35px;
    
}



.tour:hover {
    height: 300px;
    width: auto;
}

.footer {
    background-color: rgb(49, 62, 73);
    height: 52px;
    box-shadow: 20px 20px 40px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-title {
    font-size: 20px;
    color: rgb(192, 217, 240);
    font-family: fantasy;
    opacity: 0.8;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

.links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 8px;
    margin-right: 8px;
    font-size: 18px;
    color: rgb(206, 218, 228);
    font-family:fantasy;
    margin-bottom: 7px;
    
    
}
.link {
    color: rgb(206, 218, 228);
    font-family:fantasy;
    
}
.left2 {
    color: rgb(206, 218, 228);
    font-family:fantasy;
    font-size: 18px;
    margin-left: 8px;
    align-self: flex-end;
    margin-bottom: 7px;
    
}
